<h1>{{album.name}}</h1>
<div class="clearfix album-page">
    <div class="album-page-image">
        <img src="{{album.image[4]['#text']}}">
    </div>
    <div class="album-page-info">
        <ul class="album-page-tags clearfix">
            <li data-ng-repeat="tag in album.toptags.tag"><span class="label label-info">{{tag.name}}</span></li>
        </ul>
        <ul class="album-page-tracks">
            <li data-ng-repeat="track in album.tracks.track" ng-class="{active: track.active}" ng-click="startAudio(track)">
                <span ng-click="downloadFile(track)" class="glyphicon glyphicon-download-alt"></span> {{$index + 1}}. {{track.name}} <div class="album-page-tracks-track-time">{{getTime(track.duration)}}</div>
            </li>
        </ul>
    </div>
</div>

<div ng-click="download()">Download</div>

 <audio id="myaudio">
</audio>